In [1]:
#Creating the tuple 

t1=(1,2,3,4,5,6,7,8,9,10)
print(f"Tuple T1: {t1}\nT1 datatype:{type(t1)}")

Tuple T1: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
T1 datatype:<class 'tuple'>

In [4]:
#How to check a length of tuple 

t1=(1,2,3,4,5,6,7,8,9,10)
print(f"Current tuple:{t1}\ntuple length:{len(t1)}")

Current tuple:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
tuple length:10

In [7]:
# Tuple indexing & slicing

T1=(1,2,3,4,5,6,7,8,9,10)
print("Current list: ",T1)

#Access the value of index 1
print("Index 1 value :",T1[1])

#Access the value Between index 1 to 6
print("Index Between 1 to 6 value :",T1[1:6])

#Access the value till index 6
print("Index till 6 value :",T1[:6])

#Access the last  value from list 
print("last value :",T1[-1])

Current list:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Index 1 value : 2
Index Between 1 to 6 value : (2, 3, 4, 5, 6)
Index till 6 value : (1, 2, 3, 4, 5, 6)
last value : 10

In [3]:
#Tuple Constructor

T1=tuple((1,2,3,4,5,6,7,8,9,10))
#Note- There is double brackets is a help to create tuple contructor
print(T1,type(T1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [9]:
#Add item but after converting tuple into list

T1=(1,2,3,4,5,6,7,8,9,10)
print("Current list: ",T1,type(T1))

#Convert tuple to list 
x=list(T1)
print("update list: ",x,type(x))

#Add item to list 
x[3]="kiwi"
print("update list: ",x,type(x))

#Convert list to tuple 
y=tuple(x)
print("update list: ",y,type(y))

Current list:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
update list:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
update list:  [1, 2, 3, 'kiwi', 5, 6, 7, 8, 9, 10] <class 'list'>
update list:  (1, 2, 3, 'kiwi', 5, 6, 7, 8, 9, 10) <class 'tuple'>